<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <div class="masonry-block">
            <div class="block block-image v1">

              <div class="block-image">
                <div class="view view-first">
                  <a href="">
                      <%= image_tag('sample-post1.jpg') %>
                  </a>
                </div>
              </div>

              <div class="block-content">
                <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
                <h3 class="block-title">
                  <a href="#"><i class="fa fa-map-marker"></i> ショップ名</a>
                </h3>
                <p>この画像に関する説明</p>
                <ul class="inline-meta">
                  <li>By
                    <a href="#">投稿者名</a>
                  </li>
                  <li>
                    <a href="#">23 コメント</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
