<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>画像投稿フォーム</span>
              </h3>
            </div>

            <form class="mt-20">
              <div class="row">
                <div class="col-sm-12">
                  <input type="file">
                </div>
              </div><br>
              
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group has-icon">
                    <label class="control-label sr-only">ショップ名</label>
                    <input type="text" class="form-control" id="ショップ名" placeholder="ショップ名">
                    <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="3" placeholder="コメントここに"></textarea>
                </div>
              </div>

              <hr>

              

              <button type="submit" class="btn btn-lg btn-block btn-base-1 mt-20">送信</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>