<h1>
	welcome to
	<strong>Bookers</strong>  !!
</h1>
<p>
	In<strong>Bookers</strong>, 
</p>
<p>
	you can share and exchange  your opinions , inpressions , and emotions
</p>
<p>
	 about various books!
</p>
<div class="btn-wrapper">
      <div class="row">
         <p><%= link_to "Log in", new_user_session_path %></p>
      </div>
      <div class="row">
        <p><%= link_to "Sign Up", new_user_registration_path %></p>
      </div>
    </div>