* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
.main-visual1 {
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
}
.main-visual2 {
	width: 100%;
	height: 200px;
	background-image: url(img/box2.jpg);
}
.main-visual3 {
	width: 100%;
	height: 200px;
	background-image: url(img/box3.jpg);
}
.main-visual4 {
	width: 100%;
	height: 200px;
	background-image: url(img/box4.jpg);
}