<h2>Book detail</h2>
<table class="table">
		  <tbody><tr>
 <!--       <td><a href="/users/15936">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon"><br>
          山本敏弘
</a>        </td> -->
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
      </tr>
    </tbody></table>